/out/production/StreamApi/Basic/CheckLengthGreater3.class
/out/production/StreamApi/Basic/CheckNoStartZ.class
/out/production/StreamApi/Basic/ConvertArrayToList.class
/out/production/StreamApi/Basic/ConvertListToStreamAndPrint.class
/out/production/StreamApi/Basic/CountA.class
/out/production/StreamApi/Basic/CountElementList.class
/out/production/StreamApi/Basic/EvenNumbers.class
/out/production/StreamApi/Basic/FindGreater50.class
/out/production/StreamApi/Basic/FindMax.class
/out/production/StreamApi/Basic/FindMin.class
/out/production/StreamApi/Basic/FirstFromList.class
/out/production/StreamApi/Basic/GenerateStream.class
/out/production/StreamApi/Basic/LimitList.class
/out/production/StreamApi/Basic/ListToString.class
/out/production/StreamApi/Basic/OddNumbers.class
/out/production/StreamApi/Basic/RemoveDuplicates.class
/out/production/StreamApi/Basic/SkipThree.class
/out/production/StreamApi/Basic/SortIntegerAscending.class
/out/production/StreamApi/Basic/SortIntegerDescending.class
/out/production/StreamApi/Basic/Squares.class
/out/production/StreamApi/Basic/UpperCase.class
/out/production/StreamApi/Intermediate/EmployeesNames.class
/out/production/StreamApi/Intermediate/EmployeesWithSalaryGreater50000.class
/out/production/StreamApi/Intermediate/FilterSuccess.class
/out/production/StreamApi/Intermediate/KeepWithA.class
/out/production/StreamApi/Intermediate/ListListToFlatList.class
/out/production/StreamApi/Intermediate/MapFromList.class
/out/production/StreamApi/Intermediate/MapOfNameSal.class
/out/production/StreamApi/Intermediate/MaxSalary.class
/out/production/StreamApi/Intermediate/MinAge.class
/out/production/StreamApi/Intermediate/Multiply.class
/out/production/StreamApi/Intermediate/RemoveBlanks.class
/out/production/StreamApi/Intermediate/RemoveNulls.class
/out/production/StreamApi/Intermediate/ReverseString.class
/out/production/StreamApi/Intermediate/SecondHighest.class
/out/production/StreamApi/Intermediate/SecondLowest.class
/out/production/StreamApi/Intermediate/SentenceToWord.class
/out/production/StreamApi/Intermediate/SortByAge.class
/out/production/StreamApi/Intermediate/SortBySalaryRev.class
/out/production/StreamApi/Intermediate/SortedAlphabetically.class
/out/production/StreamApi/Intermediate/TotalSal.class
/out/production/StreamApi/Main.class
